:root {
    font-size: 62.5%;
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #ACD9B2;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}
body{
    display: flex;
    
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
#app{
    display: flex;

    width: 100%;
}
.Layout{
    width: 100%;
}